<!doctype html>
<html ng-app="myApp" ng-controller="bookingsController">
<head>
    <title>My Bookings</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">

    <script>
      var myApp = angular.module("myApp", []);

      myApp.controller("bookingsController", function($scope, $http) {

          // Modal dialog
          $scope.showModal = false;
          $scope.toggleModal = function(){
              $scope.showModal = !$scope.showModal;
          };

          $scope.results = <%- JSON.stringify(bookings) %>;
          // console.log($scope.results);

          $scope.today = moment().format("MM/DD/YYYY");
          // console.log($scope.today);
      });

      myApp.directive('modal', function () {
        return {
          template: '<div class="modal fade">' +
              '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                  '<div class="modal-header">' +
                    '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                    '<h4 class="modal-title">{{ title }}</h4>' +
                  '</div>' +
                  '<div class="modal-body" ng-transclude></div>' +
                '</div>' +
              '</div>' +
            '</div>',
          restrict: 'E',
          transclude: true,
          replace:true,
          scope:true,
          link: function postLink(scope, element, attrs) {
            scope.title = attrs.title;

            scope.$watch(attrs.visible, function(value){
              if(value == true)
                $(element).modal('show');
              else
                $(element).modal('hide');
            });

            $(element).on('shown.bs.modal', function(){
              scope.$apply(function(){
                scope.$parent[attrs.visible] = true;
              });
            });

            $(element).on('hidden.bs.modal', function(){
              scope.$apply(function(){
                scope.$parent[attrs.visible] = false;
              });
            });
          }
        };
      });
    </script>
</head>

<body>
  <div class="bodyWrapper">
    <div class="container">

        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-left">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>

            <% if (!user) { %>
            <div class="header-right">
                <p><a id="loginLink" href="/login" class="dropdown-link">Login</a><a id="registerLink" href="/signup" class="dropdown-link">Register</a></p>
            </div>
            <% } else { %>
            <div class="header-right">
              <div class="button-dropdown">Hi, <%= user.local.profile.firstname %> &#x25BC;
                  <ul class="dropdown">
                    <li><a href="/profile" class="dropdown-link">My Profile</a></li>
                    <li><a href="/bookings" class="dropdown-link">My Bookings</a></li>
                    <li><a href="/reviews" class="dropdown-link">My Reviews</a></li>
                    <li><a href="/logout" class="dropdown-link">Logout</a></li>
                  </ul>
              </div>
            </div>
            <% } %>
        </div>
    </div>
    </header>

    <section class="clearfix">
    </section>

    <div class="container">
      <div class="three columns">
          <div id='sidebarNav'>
          <ul>
               <li><a href='/profile'><span>Profile</span></a></li>
               <li class='active'><a href='/bookings'><span>My Bookings</span></a></li>
               <li class='last'><a href='/reviews'><span>My Reviews</span></a></li>
          </ul>
          </div>
      </div>

      <div class="nine columns">
          <div ng-show="results == 'none'">
              <p>You have no bookings yet.</p>
          </div>
          <div ng-show="results != 'none'" class="result" ng-repeat="result in results | orderBy : '_doc.created' : true">
                <div class="resultImage">
                    <a href="/companies/{{result[0].name}}"><img ng-src="{{result[0].thumb}}" /></a>
                </div>

                <div class="resultText">

                        <a href="/companies/{{result[0].name}}"><p class="name">{{result[0].name}}</p></a>
                        <p class="address">{{result[0].address}}</p>

                        </br>

                        <p class="address">Booking Date: {{result._doc.created}}</p>
                        <p class="address">Booking Number: {{result._doc.bookingId}}</p>
                        <p class="address">{{result._doc.service}}</p>
                        <p ng-show="result._doc.duration"  class="address">Duration: {{result._doc.duration}}</p>


                        <p class="address">Your booking: {{result._doc.totalPrice}}</p>
                        <p ng-show="result._doc.cancelled == true" class="cancelled">CANCELLED: {{result._doc.cancelled}}</p>

                        </br>

                        <p class="address">Appointment: {{result._doc.date}} / {{result._doc.hour}}</p>
                        <p ng-show="result._doc.comments" class="address">Comments: {{result._doc.comments}}</p>

                        <div class="serviceContainer"><p class="service" ng-repeat="s in result.service">{{s.name}} <span ng-show=""></span><span class="resultPrice">DKK {{s.price}}</span></p></div>

                        <div ng-show="result._doc.cancelled === false && result._doc.date > today">
                            <!-- <button ng-click="toggleModal()" type="submit">Cancel Booking</button> -->
                            <!-- <modal title="Cancel Booking" visible="showModal"> -->
                                <form action="/cancel" method="POST" >
                                  <input type="hidden" name="_method" value="put">
                                  <input type="hidden" name="bookingId" value="{{result._doc._id}}"/>
                                  <!-- <p>Are you sure that you want to cancel your booking?</p> -->
                                  <button type="submit" ng-click="submitted=true">Cancel Booking</button>
                                </form>
                            <!-- </modal> -->
                        </div>

                        <!-- <div class="reviewButtonContainer">
                            <a class="linkBtn" href="/review/{{result._id}}" ng-show="result._doc.reviewed === false">Review</a>
                        </div> -->
                </div>
          </div>
      </div>

    </div>
  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>
</body>
</html>
