<!doctype html>
<html ng-app="myApp" ng-controller="providerController">
<head>
    <title>Stylinger / {{result.name}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript" src="../lib/jquery.ratingbar.js"></script>
    <link rel="stylesheet" href="../lib/ratingbar.css">
    <script type="text/javascript" src="../lib/jquery.easing.1.3.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

    <link rel="stylesheet" href="../lib/fancybox/stylesheet.css">
    <link rel="stylesheet" href="../lib/fancybox/jquery.fancybox.css">
    <script src="../lib/fancybox/jquery.fancybox.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&signed_in=true&callback=initMap" async defer></script> -->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../lib/pikaday/pikaday.css">
    <script type="text/javascript" src="../lib/pikaday/jquery.timeInput.js"></script>

    <script>

      var myApp = angular.module("myApp", []);

      myApp.controller("providerController", function($scope, $http) {
          $scope.json = <%- JSON.stringify(serviceprovider) %>;
          $scope.result = $scope.json[0];
          $scope.services = $scope.result.service;
          $scope.hours = $scope.result.hours;
          $scope.address = $scope.result.address;
          $scope.addrURL = encodeURIComponent($scope.result.address);
          $scope.reviews = $scope.result.reviews;
          $scope.nrreviews = Object.keys($scope.reviews).length
          $scope.bookagain = Object.keys($scope.reviews).length
          $scope.id = $scope.result._id

          console.log($scope.result);
          console.log($scope.id);
          // console.log($scope.hours);
          // console.log($scope.address);
          // console.log($scope.addrURL);
          // console.log($scope.reviews);
          // console.log($scope.nrreviews);
          // console.log($scope.datepicker);

          $scope.output = [];
          for (var key in $scope.hours) {
            // must create a temp object to set the key using a variable
            var tempObj = {};
            tempObj[key] = $scope.hours[key];
            $scope.output.push(tempObj);
          }
          // console.log($scope.output);

          $scope.select = function(item) {
            $scope.selected = item;
            // console.log($scope.selected.id);\
          }
          $scope.isSelected = function(item) {
            return $scope.selected == item;
          }

          $scope.idSelectedVote = null;
          $scope.setSelected = function (idSelectedVote) {
             $scope.idSelectedVote = idSelectedVote;
          };

          //Datetimepicker
          var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            firstDay: 1,
            minDate: new Date(2000, 0, 1),
            maxDate: new Date(2020, 12, 31),
            yearRange: [2000,2020],
            onSelect: function() {
                console.log(this.getMoment().format('DD/MM/YYYY'));
                var date = document.createTextNode(this.getMoment().format('DD/MM/YYYY') + ' ');
            },
            disableDayFn: function(date){
                // Disable Monday
                // return date.getDay() === 1;
            }
          });

          $(document).ready(function(){
              $("input[name='timepicker']").timeInput();
              $("input[name='timepicker']");
          });

          // Gallery
          $(document).ready(function(){

              $(".preview a").on("click", function(){
                  $(".selected").removeClass("selected");
                  $(this).addClass("selected");
                  var picture = $(this).data();

                  event.preventDefault();

                  $(".full img").fadeOut( 100, function() {
                    $(".full img").attr("src", picture.full);
                    $(".full").attr("href", picture.full);
                    $(".full").attr("title", picture.title);

                }).fadeIn();
              });

              $(".full").fancybox({
                  helpers : {
                      title: {
                          type: 'inside'
                      }
                  },
                  closeBtn : true,
              });
          });

          $(document).ready(function() {
            var ratingconfig = {
          		animate:		true,
          		duration:		175,
          		ease:			"easeOutBounce",
          		maxRating: 		10,
          		wrapperWidth:	175,
          		showText: 		false,
          		wrapperClass:	"wrapper_books",
          		innerClass:		"inner_books",
          		textClass: 		"rating_books"
          	}

          	$('.book_rating').ratingbar(ratingconfig);
          });

          // Google Maps
          function initMap() {
            // Create an array of styles.
            var styles = [
              {
                stylers: [
                  { hue: "#ccbd9d" },
                  { saturation: -20 }
                ]
              },{
                featureType: "road",
                elementType: "geometry",
                stylers: [
                  { lightness: 100 },
                  { visibility: "simplified" }
                ]
              },{
                featureType: "road",
                elementType: "labels",
                stylers: [
                  { visibility: "off" }
                ]
              }
            ];

            var styledMap = new google.maps.StyledMapType(styles,
              {name: "Styled Map"});

            var mapOptions = {
              zoom: 15,
              center: new google.maps.LatLng(55.6468, 37.581),
              disableDefaultUI: true,
              zoomControl: true,
              mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
              }
            };

            var map = new google.maps.Map(document.getElementById('map'),
              mapOptions);

            var geocoder = new google.maps.Geocoder();

            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

            geocodeAddress(geocoder, map);
          }

          function geocodeAddress(geocoder, resultsMap) {
            var address = $scope.address;
            geocoder.geocode({'address': address}, function(results, status) {
              if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                  map: resultsMap,
                  position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }

          google.maps.event.addDomListener(window, 'load', initMap);
    });
    </script>

</head>

<body>
  <div class="bodyWrapper">
    <div class="container">

        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-left">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>

            <% if (!user) { %>
            <div class="header-right">
                <p><a id="loginLink" href="/login" class="dropdown-link">Login</a><a id="registerLink" href="/signup" class="dropdown-link">Register</a></p>
            </div>
            <% } else { %>
            <div class="header-right">
              <div class="button-dropdown">Hi, <%= user.local.profile.firstname %> &#x25BC;
                  <ul class="dropdown">
                    <li><a href="/profile" class="dropdown-link">My Profile</a></li>
                    <li><a href="/bookings" class="dropdown-link">My Bookings</a></li>
                    <li><a href="/reviews" class="dropdown-link">My Reviews</a></li>
                    <li><a href="/logout" class="dropdown-link">Logout</a></li>
                  </ul>
              </div>
            </div>
            <% } %>
        </div>
    </div>
    </header>

    <section class="clearfix">
    </section>

    <!-- {{result}} -->

    <div style="width: 90%; margin: auto;" class="">
        <div style="width: 85%; margin: auto;">
            <p class="resultTitle">{{result.name}}</p>
            <p class="resultAddress">{{result.address}}</p>
            <!-- <a href="http://maps.google.com/{{addrURL}}">{{result.address}}</a> -->
        </div>

        <br>

        <div class="row" style="text-align: center; width: 100%;">
            <div class="leftColumnB">
                <div class="serviceContainer" style="margin-top: 0px; ">
                  <div class="gallery clearfix">
                      <div class="pics clearfix">
                          <a href="http://navjeevaspa.com/navajeeva/uploads/1378976157ThetreatmentRoom.jpg" class="full" title="Spring 2013 | Luna + Hill">
                          <img src="http://navjeevaspa.com/navajeeva/uploads/1378976157ThetreatmentRoom.jpg"> </a>
                          <div class="thumbs">
                              <div style="float:left; padding-right: 10px;">
                                <div class="preview"> <a href="#" class="selected" data-full="http://navjeevaspa.com/navajeeva/uploads/1378976157ThetreatmentRoom.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="http://navjeevaspa.com/navajeeva/uploads/1378976157ThetreatmentRoom.jpg"/> </a> </div>
                                <div class="preview"> <a href="#" data-full="http://cdn.spafinder.com/2012/04/Photo-Courtesy-of-Harrahs-Red-Door-Spas-Wetroom.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="http://cdn.spafinder.com/2012/04/Photo-Courtesy-of-Harrahs-Red-Door-Spas-Wetroom.jpg" class="image_2"/> </a> </div>
                                <div class="preview"> <a href="#" data-full="http://www.hoarcross.co.uk/images/content/2014%20reskin/join/standard%20image/changing-room.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="http://www.hoarcross.co.uk/images/content/2014%20reskin/join/standard%20image/changing-room.jpg" class="image_3"/> </a> </div>
                              </div>
                              <div style="float:right;">
                                <div class="preview"> <a href="#" data-full="https://www.salon124.com/wp-content/uploads/2013/06/lawrenceville-hair-salon11-960x600.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="https://www.salon124.com/wp-content/uploads/2013/06/lawrenceville-hair-salon11-960x600.jpg"/> </a> </div>
                                <div class="preview"> <a href="#" data-full="http://cdn.decoist.com/wp-content/uploads/2012/12/Spa-room-design-idea.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="http://cdn.decoist.com/wp-content/uploads/2012/12/Spa-room-design-idea.jpg"/> </a> </div>
                                <div class="preview"> <a href="#" data-full="http://blog.forbestravelguide.com/wp-content/uploads/2012/03/Trump-NY-Spa-Treatment-Room5.jpg" data-title="Spring 2013 | Luna + Hill"> <img src="http://blog.forbestravelguide.com/wp-content/uploads/2012/03/Trump-NY-Spa-Treatment-Room5.jpg"/> </a> </div>
                              </div>
                          </div>
                          <section class="clearfix">
                          </section>
                          <div class="companyDescription">
                                <p class="resultTitle" style="font-size: 18px; font-family:'BRBold'; text-align: center !important;">{{result.name}}</p>
                                <p>{{result.description}}</p>
                          </div>
                      </div>
                  </div>
                </div>

                <p class="resultTitle" style="font-size: 18px; font-family:'BRBold';">Categories & Services</p>

                <a name="serviceContainer"></a>
                <div class="serviceContainer">
                    <div class="services" ng-repeat="service in services" ng-click="setSelected(service.id); select(service)" ng-class="{selectedService: service.id === idSelectedVote}">
                        <div class="serviceList">
                          <div class="priceContainer"><span class="idS">{{service.id}}</span><span class="serviceTitle">{{service.name}}</span><span class="resultSPrice">DKK {{service.price}}</span></div>
                          <div ng-show="isSelected(service)">
                              <p class="durationS">{{service.duration}} minutes</p>
                              <p class="descriptionS">{{service.description}}</p>
                          </div>
                        </div>

                        <div class="serviceButton" ng-show="service.id !== idSelectedVote">
                            <button class="displayBtn" ng-click="select(service)">Select</button>
                        </div>
                    </div>
                </div>

                <section class="clearfix">
                </section>

                <div class="row" style="text-align: left !important; width: 100%;">
                    <div>
                        <p class="resultTitle" style="font-size: 18px; font-family:'BRBold'; text-align: center !important;">Reviews</p>
                        <section class="clearfix">
                        </section>
                        <div class="three columns" style="width: 45%;">
                            <p class="ratingBarValue"><span class="six columns">Value </span><span class="five columns">{{result.rating.detailed.pq}}</span><span id="ratingBar" class="book_rating">{{result.rating.detailed.pq}}</span></p>
                            <p class="ratingBarValue"><span class="six columns">Service</span><span class="five columns">{{result.rating.detailed.service}}</span><span id="ratingBar" class="book_rating">{{result.rating.detailed.service}}</span></p>
                            <p class="ratingBarValue"><span class="six columns">Ambiance </span><span class="five columns">{{result.rating.detailed.ambiance}}</span><span id="ratingBar" class="book_rating">{{result.rating.detailed.ambiance}}</span></p>
                        </div>
                        <div class="two columns">
                            <p style="width: 50px; text-align: center; margin-top: -15px;"><span class="ratingReviews">{{result.rating.desc}}</span><span class="rating">{{result.rating.number}}</span></p>
                        </div>
                        <div class="three columns">
                            <p style="width: 50px; color: #ccbd9d; margin-top: -13px;  line-height: 20px;">Based on <span style="font-size: 30px; font-family:'BRBold';  line-height: 40px;">{{nrreviews}}</span> Reviews</p>
                        </div>
                        <div class="three columns">
                            <!-- <p>% Would Book Again</p> -->
                        </div>
                    </div>
                    <section class="clearfix">
                    </section>
                    <div class="" style="">
                        <div ng-repeat="review in reviews">
                            <p class="columnL" style="text-align: left; text-transform: uppercase; color: #bababa; font-family: 'BRBold';">{{review.author}}</p>
                            <p class="columnR" style="text-align: right;">{{review.date}}</p>
                            <section class="clearfix">
                            </section>
                            <div style="background-color: #fff; margin: auto; padding: 0px 10px 0px 10px; width: 100%; height: 100%; display: inline-block; ">
                                <div class="columnLeft" style="width: 35%; text-align: justify;">
                                    <p>{{review.comment}}</p>
                                </div>
                                <div class="columnCenter" style="width: 45%;">
                                    <p class="ratingBarValue"><span class="six columns">Value </span><span class="five columns">{{review.pq}}</span><span id="ratingBar" class="book_rating">{{review.pq}}</span></p>
                                    <p class="ratingBarValue"><span class="six columns">Service</span><span class="five columns">{{review.service}}</span><span id="ratingBar" class="book_rating">{{review.service}}</span></p>
                                    <p class="ratingBarValue"><span class="six columns">Ambiance </span><span class="five columns">{{review.ambiance}}</span><span id="ratingBar" class="book_rating">{{review.ambiance}}</span></p>
                                </div>
                                <div class="columnRight" style="width: 10%;">
                                    <span class="rating">{{review.average}}</span>
                                </div>
                            </div>
                            <p class="columnL" style="text-align: left;"> find this review helpful</p>
                            <p class="columnR" style="text-align: right;">Was this review helpful?</p>
                            <section class="clearfix">
                            </section>
                        </div>
                    </div>
                </div>

            </div>

            <div class="rightColumnS">
              <div class="row" style="background-color: #fff; padding: 10px; ">
                <p class="contentTitle">Opening Times</p>
                <hr class="titleUnderlineWidget">
                <p ng-repeat="hour in hours"><span class="columnL">{{hour.name}}</span> <span class="columnR">{{hour.hours}}</span></p>
              </div>
              <br>
              <div class="row" style="background-color: #fff; padding: 10px; ">
                <p class="contentTitle">Address</p>
                <hr class="titleUnderlineWidget">
                <p style="margin-bottom: 7px; ">{{result.address}}</p>
                <!-- <a href="#"><div id="map"></div></a> -->
                <div id="map"></div>
              </div>
              <br>
              <form class="checkoutForm" action="/checkout" method="get" ng-show="selected.id">
                <input type="hidden" name="selectedID" value="{{selected.id}}"/>
                <input type="hidden" name="selectedPrice" value="{{selected.price}}"/>
                <input type="hidden" name="selectedName" value="{{selected.name}}"/>
                <input type="hidden" name="selectedDuration" value="{{selected.duration}}"/>
                <input type="hidden" name="serviceprovider" value="{{id}}"/>
                <div name="selection"><p style="font-weight: normal; font-family:'BRBold';">{{selected.name}} for {{selected.duration}} minutes</p><p>DKK {{selected.price}}</p></div>
                <input type="text" id="datepicker" name="datepicker" ng-model="datepicker" placeholder="Choose Date">
                <input type="time" ng-model="timepicker" name="timepicker" min="9:30" max="16:00" step="1800" class="time-hh-mm" required/>
                <button type="submit" ng-disabled="datepicker === undefined">Checkout</button>
              </form>
            </div>
        </div>
    </div>
  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>

<script src="../lib/pikaday/pikaday.js"></script>
</body>
</html>
