<!doctype html>
<html ng-app="myApp">
<head>
    <title>Stylinger / Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/menu.css">

    <script>
        var myApp = angular.module('myApp', ['ngMessages']);

        myApp.controller('loginController', ['$scope', function($scope) {

        }]);
    </script>
</head>
<body ng-controller="loginController">
  <div class="bodyWrapper">
    <div class="container">
        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-center">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>
          </div>
        </header>
        <section class="clearfix">
        </section>

        <div class="rowLogin">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form class="loginClass" name="form" action="/loginpage" method="post">
                <div class="">

                    <h1>Login</h1>

                    <input type="email" name="email" ng-model="email" placeholder="Email" required autofocus>

                    <!-- <div>
                      <div class=""  ng-show="submitted && form.email.$error.required">This field is required</div>
                      <div class=""  ng-show="submitted && form.email.$error.email">Your email address is invalid</div>
                    </div> -->
                </div>
                <div class="">
                    <input type="password" name="password" ng-model="password" placeholder="Password" ng-minlength="6" required>

                    <!-- <div>
                      <div class=""  ng-show="submitted && form.password.$error.required">This field is required</div>
                    </div> -->
                </div>

                <button type="submit" ng-click="submitted=true">Login</button>

                <p><a href="/forgot">Forgot your password?</a></p>
                <p>Need an account? <a href="/signup">Signup</a></p>
            </form>
        </div>
    </div>
  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>

</body>
</html>
