<!doctype html>
<html ng-app="myApp">
<head>
    <title>Stylinger / Results</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menu.css">

    <script>

      var myApp = angular.module("myApp", []);

      myApp.controller("resultsController", function($scope, $http) {

          $scope.results = <%- JSON.stringify(serviceproviders) %>;
          console.log($scope.results);

          $scope.count = $scope.results.length;
          $scope.location = $scope.results[0].city;
          $scope.city = $scope.results[0].city;

          $scope.quantity = 4;

          $scope.serviceType = <%- JSON.stringify(serviceType) %>;
          console.log($scope.serviceType);

          var url = window.location.href;
          var href = $('.hrefn').attr('href');
          var urltocheck = "http://localhost:3000"+href;
          console.log(url, urltocheck);
          $('a[href~="'+url+'"]').addClass("active");

          // $scope.loadMore = function() {
          //     var last = $scope.results[$scope.results.length - 1];
          //     console.log(last);
          //     for(var i = 1; i <= last; i++) {
          //       $scope.results.push(last + i);
          //       console.log($scope.results);
          //     }
          // };
          // console.log($scope.loadMore());
      });

    </script>
</head>
<body ng-controller="resultsController">
  <div class="bodyWrapper">
    <div class="container">

        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-left">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>

            <% if (!user) { %>
            <div class="header-right">
                <p><a id="loginLink" href="/login" class="dropdown-link">Login</a><a id="registerLink" href="/signup" class="dropdown-link">Register</a></p>
            </div>
            <% } else { %>
            <div class="header-right">
              <div class="button-dropdown">Hi, <%= user.local.profile.firstname %> &#x25BC;
                  <ul class="dropdown">
                    <li><a href="/profile" class="dropdown-link">My Profile</a></li>
                    <li><a href="/bookings" class="dropdown-link">My Bookings</a></li>
                    <li><a href="/reviews" class="dropdown-link">My Reviews</a></li>
                    <li><a href="/logout" class="dropdown-link">Logout</a></li>
                  </ul>
              </div>
            </div>
            <% } %>
          </div>
        </header>
        <section class="clearfix">
        </section>

    </div>

    <div style="background-color: #f6f6f6 !important; width: 90%; margin: auto; }" class="">

        <div class="row" style="background-color: #f6f6f6 !important; text-align: center; position: relative; margin: .5em;">
            <div style="width: 100%;">
              <p class="resultTitle"><span>{{count}}</span> results in <span>{{city}}</span></p>

              <p class="topFilters">
                  <select class="dropdownFilter" name="filter" ng-model="dropdownFilter" >
                      <option value="" disabled="disabled">Sort by</option>
                      <option value="-rating.number">Popularity</option>
                      <option value="name">Alphabetical</option>
                      <option value="-created">Recenty Added</option>
                  </select>
              </p>
            </div>

            <section class="clearfix">
            </section>

            <div class="leftColumn">
                <div class="columnLContainer">
                    <form action="/results" method="get" >
                        <input id="searchBtnSmall" type="submit" style="float: right; width: 39px; " />
                        <div style="overflow: hidden; padding-right: .5em;">
                           <input type="text" name="location" style="width: 100%;" ng-model="location" placeholder="City or ZIP" />
                        </div>
                        <input type="hidden" name="serviceType" value="{{serviceType}}"/>
                    </form>
                </div>

                <div class="columnLContainer">
                  <div class="menu_simple">
                      <ul style="list-style-type: none;">
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=1">All</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=2">Hair</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=3">Barber</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=4">Nails</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=5">Depilation</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=6">Face Treatment</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=7">Body Care</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=8">Spa & Sauna</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=9">Massage</a></li>
                        <li name="li" ><a class="hrefn" href="/results?location=aarhus&serviceType=10">Other</a></li>
                      </ul>
                  </div>
                </div>

                <div class="columnLContainer" style="text-align: left; padding: 10px;">
                  <form action="/results" method="get" id="form-id">
                    <input id="men" type="checkbox" onclick="document.getElementById('form-id').submit();" name="men" ng-model="men" ng-true-value="true" ng-false-value="false" value="men"/>
                    <label for="men" class="checkbox-label">Offering men services</label>
                  </form>
                </div>

                <div class="columnLContainer" style="text-align: left; padding: 10px;">
                  <form action="/results" method="get" id="form2-id">
                    <input id="promotions" type="checkbox" onclick="document.getElementById('form2-id').submit();" name="promotions" ng-model="promotions" ng-true-value="true" ng-false-value="false"/>
                    <label for="promotions" class="checkbox-label">Only promotions</label>
                  </form>
                </div>

            </div>

              <div class="rightColumn">
                  <div class="result" ng-repeat="result in results | orderBy: dropdownFilter" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
                        <div class="resultImage">
                            <img ng-src="{{result.thumb}}" />
                        </div>
                        <div class="resultRating">
                            <p><span class="ratingText">{{result.rating.desc}}</span><span class="rating">{{result.rating.number}}</span></p>
                        </div>

                        <div class="resultText">
                            <a href="/companies/{{result.name}}"><p class="name">{{result.name}}</p></a>
                            <p class="address">{{result.address}}</p>
                            <div class="serviceContainer"><p class="service" ng-repeat="s in result.service" ng-if="$index < quantity">{{s.name}} <span ng-show=""></span><span class="resultPrice">DKK {{s.price}}</span></p></div>
                            <p style="margin-bottom: 10px; "><a class="linkBtn" href="/companies/{{result.name}}#serviceContainer" />Price List</a></p>
                        </div>
                  </div>

                <br>

            </div>
       </div>
    </div>
  </div>


    <div id="footerStyle">
        <div class="row">
            <div class="six columns">
                <h1>Stylinger</h1>
                <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
            </div>

            <div class="six columns" id="footerWhite">
                <nav>
                  <a href="#">Get Listed</a>
                  <a href="#">Meet the team</a>
                  <a href="#">Contact</a>
                </nav>

                <div id="contactFooter">
                    <p>(+45) 52 80 81 19</p>
                    <p>hello@stylinger.com</p>
                    <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>

            <p>Stylinger @ 2015 / Copyright</p>
        </div>
    </div>
</body>
</html>
