<!doctype html>
<html ng-app="myApp" ng-controller="reviewController">
<head>
    <title>Review Your Experience</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../less/styles.css">

    <script>
      var myApp = angular.module("myApp", []);

      myApp.controller("reviewController", function($scope, $http) {
          $scope.results = <%- JSON.stringify(booking) %>;
          $scope.idb = $scope.results[0]._id;
          console.log($scope.results[0], $scope.idb);

          $scope.sp = <%- JSON.stringify(serviceprovider) %>;
          console.log($scope.sp[0]);

          $(document).ready(function() { $('[name="service"]').val(0); $('[name="ambiance"]').val(0); $('[name="value"]').val(0); });
      });
    </script>
</head>

<body>
  <div class="bodyWrapper">
    <div class="container">

        <header class="clearfix">
          <div class="container">

            <a id="logo" href="/"><h1>Stylinger</h1></a>

            <div class="header-left">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>

            <% if (!user) { %>
            <div class="header-right">
                <p><a id="loginLink" href="/login" class="dropdown-link">Login</a><a id="registerLink" href="/signup" class="dropdown-link">Register</a></p>
            </div>
            <% } else { %>
            <div class="header-right">
              <div class="button-dropdown">Hi, <%= user.local.profile.firstname %> &#x25BC;
                  <ul class="dropdown">
                    <li><a href="/profile" class="dropdown-link">My Profile</a></li>
                    <li><a href="/bookings" class="dropdown-link">My Bookings</a></li>
                    <li><a href="/reviews" class="dropdown-link">My Reviews</a></li>
                    <li><a href="/logout" class="dropdown-link">Logout</a></li>
                  </ul>
              </div>
            </div>
            <% } %>
        </div>
    </div>
    </header>

    <section class="clearfix">
    </section>

    <div class="container">
      <div class="three columns">
          <div id='sidebarNav'>
          <ul>
               <li><a href='/profile'><span>Profile</span></a></li>
               <li><a href='/bookings'><span>My Bookings</span></a></li>
               <li class='active' class='last'><a href='/reviews'><span>My Reviews</span></a></li>
          </ul>
          </div>
      </div>

      <div class="nine columns">
          <div class="result">
              <div class="resultImage">
                  <img ng-src="{{sp[0].thumb}}" />
              </div>

              <div class="resultText">
                  <p>Thank you for reviewing <a href="/companies/{{sp[0].name}}"><span class="name">{{sp[0].name}}</span></a>.</p>
                  <!-- <p class="address">{{sp[0].address}}</p> -->
                  <p>Your service was the {{results[0].service}}.</p>
                  <p>Your visit was on {{results[0].date}} at {{results[0].hour}}.</p>
              </div>
          </div>

          <form class="reviewForm" action="/review" method="POST" >
              <input type="hidden" name="idb" value="{{idb}}"/>

              <p class="reviewTitle">Tell us how was your experience.</p>

              <input type='text' name="title" id='title'  placeholder="Review Title">
              <!-- <label for="title" class="labelForm">Review Title</label> -->

              <textarea class="textareaReview" name="review" placeholder="Your review" ng-model="review"></textarea>

              <p class="reviewTitle">How did the service do in the following cateogries?</p>
              <div class="rangeContainer">
                  <div class="columnLeft">
                    <label for="value" class="labelForm">Value</label>
                  </div>
                  <div class="columnCenter">
                    <input type="range" name="value" ng-model="value" class="range">
                  </div>
                  <div class="columnRight">
                    <span ng-show="value !== NaN">{{value / 10}} / 10</span>
                  </div>
              </div>

              <div class="rangeContainer">
                  <div class="columnLeft">
                    <label for="service" class="labelForm">Service</label>
                  </div>
                  <div class="columnCenter">
                    <input type="range" name="service" ng-model="service" class="range">
                  </div>
                  <div class="columnRight">
                    <span ng-show="service !== NaN">{{service / 10}} / 10</span>
                  </div>
              </div>

              <div class="rangeContainer">
                  <div class="columnLeft">
                    <label for="ambiance" class="labelForm">Ambiance</label>
                  </div>
                  <div class="columnCenter">
                    <input type="range" name="ambiance" ng-model="ambiance" class="range">
                  </div>
                  <div class="columnRight">
                    <span ng-show="ambiance !== NaN">{{ambiance / 10}} / 10</span>
                  </div>
              </div>

              <div class="buttonContainer">
                <button type="submit">Submit Review</button>
              </div>
          </form>
      </div>

    </div>

  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>
</body>
</html>
