<!doctype html>
<html ng-app="myApp">
<head>
    <title>Stylinger / Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/menu.css">

    <script>
        var myApp = angular.module('myApp', []);

        myApp.controller('signupController', ['$scope', '$log', function($scope, $log) {

        }]);
    </script>
</head>
<body ng-controller="signupController">
  <div class="bodyWrapper">
    <div class="container">
        <header class="clearfix">
          <div class="container">

            <a href="/"><h1>Stylinger</h1></a>

            <div class="header-center">
              <label for="open">
                <span class="hidden-desktop"></span>
              </label>
              <input type="checkbox" name="" id="open">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>
            </div>
          </div>
        </header>
        <section class="clearfix">
        </section>

        <div class="rowLogin">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form class="loginClass" action="/signup" method="post">

                <h1>Register</h1>

                <input type="text" name="firstname" ng-model="firstname" placeholder="First Name" required autofocus>

                <input type="text" name="lastname" ng-model="lastname" placeholder="Last Name" required>

                <input type="email" name="email" ng-model="email" placeholder="Email" required>

                <input type="email" name="confirmemail" ng-model="confirmemail" placeholder="Confirm Email" required>

                <input type="password" name="password" ng-model="password" placeholder="Password" required>

                <input type="password" name="confirmpassword" ng-model="confirmpassword" placeholder="Confirm Password" required>

                <br>

                <input id="newsletter" type="checkbox" name='newsletter' value="true"><label for="newsletter" class="checkbox-label">Yes, send me newsletters about products, offers and promotions (emails or text message).</label>

                <br>

                <input id="terms" type="checkbox" name="terms">
                <label for="terms" class="checkbox-label" required>Yes, I agree to the Terms & Conditions</label>

                <br><br>

                <button type="submit">Signup</button>

                <hr>

                <p>Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>
  </div>

  <div id="footerStyle">
      <div class="row">
          <div class="six columns">
              <h1>Stylinger</h1>
              <p class="textFooter">Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem. Lorem ipsul more lorem abos lorem.</p>
          </div>

          <div class="six columns" id="footerWhite">
              <nav>
                <a href="#">Get Listed</a>
                <a href="#">Meet the team</a>
                <a href="#">Contact</a>
              </nav>

              <div id="contactFooter">
                  <p>(+45) 52 80 81 19</p>
                  <p>hello@stylinger.com</p>
                  <p>Paludan Müllers Vej 85, 8210, Aarhus</p>
              </div>
          </div>
      </div>

      <div class="row">
          <hr>

          <p>Stylinger @ 2015 / Copyright</p>
      </div>
  </div>

</body>
</html>
