/* User button*/
.button-dropdown {
  text-align: center;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  top: 8px;
  color: #704fa0;
}

.button-dropdown .dropdown {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 100%;
  left: -10px;
  right: 0;
  list-style-type: none;
  padding: 0;
  width: 150px;
  -webkit-transition: all .3s ease;
}

.button-dropdown .dropdown .dropdown-link {
  display: block;
  position: relative;
  padding: .75em 1em;
  background: #fff;
  color: #333;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
}

.button-dropdown .dropdown .dropdown-link:hover {
  background: #ccbd9d;
  color: #fff;
  -webkit-transition: all .3s ease;
}

.dropdown:hover, .button-dropdown:hover > .dropdown, .button-dropdown.open > .dropdown {
  display: block;
}



/* Clearfix */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* NavBar */
.container{
	width: 100%;
	margin: 0 auto;
}
header{
	width: 100%;
	height: auto;
  border-bottom: 1px solid #ccbd9d;
}
.header-left,
.header-right,
.header-center{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}
.header-right{
  width: 30%;
  text-align: right;
}
.header-left label{
  position: absolute;
	top: -3.7em;
	right: 0;
	cursor: pointer;
}
.header-left span{
  position: relative;
	width: 2em;
	height: 2em;
  top: -11px;
	background: rgba(255,255,255,.3);
	-webkit-transition: all .3s ease;
}
.header-left span:hover,
.header-left span:hover:before,
.header-left span:hover:after{
  background: rgba(0,0,0,.7);
  -webkit-transition: all .4s ease;
}
.header-left span,
.header-left span:before,
.header-left span:after{
	content: '';
	position: absolute;
	width: 2em;
  border-radius: 5px;
	height: .5em;
	top: 28px;
	left: 0;
  background: black;
  -webkit-transition: all .4s ease;
}
.header-left span:after{
	top: 14px;
}
.header-left{
	width: 70%;
	text-align: left;
}
#open{
	display: none;
}
h1{
	font-weight: 300;
	line-height: 40px;
  -webkit-transition: all .4s ease;
}
nav>a, nav>a:active, nav>a:link, nav>a:visited {
  text-decoration: none;
  color: #000 ;
  /*text-shadow: 1px 1px #fff;*/
  -webkit-transition: all .4s ease;
	position: relative;
	display: inline-block;
	font-size: 12px;
	line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease;
  text-align: left !important;
  padding-right: 5em;
}
nav>a:hover{
	color: #ccbd9d;
  text-decoration: none;
}
.hidden-desktop{
	display: none;
}
section{
	width: 100%;
	height: auto;
  margin-top: 20px;
}

.header-center nav>a, .heder-center nav>a:active, .heder-center nav>a:link, .heder-center nav>a:visited {
  padding: 0px 2.5em !important;
}

.header-center{
  width: 100%;
  text-align: center;
}
.header-center label{
  position: absolute;
	top: -3.7em;
	right: 0;
	cursor: pointer;
}
.header-center span{
  position: relative;
	width: 2em;
	height: 2em;
  top: -11px;
	background: rgba(255,255,255,.3);
	-webkit-transition: all .3s ease;
}
.header-center span:hover,
.header-center span:hover:before,
.header-center span:hover:after{
  background: rgba(0,0,0,.7);
  -webkit-transition: all .4s ease;
}
.header-center span,
.header-center span:before,
.header-center span:after{
	content: '';
	position: absolute;
	width: 2em;
  border-radius: 5px;
	height: .5em;
	top: 28px;
	left: 0;
  background: black;
  -webkit-transition: all .4s ease;
}
.header-center span:after{
	top: 14px;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.box{
		width: 49%;
		margin-bottom: 5%;
	}
	ul li:nth-child(3) .box{
		clear: both;
	}
	ul li:nth-child(2n) .box{
		margin-right: 0;
		clear: right;
	}
}

/* Small monitor */
@media (max-width: 979px){
  nav>a, nav>a:active, nav>a:link, nav>a:visited {
		padding: 0 1.5em;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container{
		width: 95%;
	}
  nav>a, nav>a:active, nav>a:link, nav>a:visited {
		padding: 0 2em;
	}
	h1{
		padding: .5em 0;
	}
	.header-left,
	.header-right,
  .hedear-center{
		width: 100%;
		text-align: center;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	body{
		padding: 0 .5em;
	}
	.container{
		width: 90%;
	}
	nav{
		height: 0;
		overflow: hidden;
		-webkit-transition: all .3s ease;
	}
	input[type="checkbox"]:checked + nav{
		height: 130px;
	}
	nav>a, nav>a:active, nav>a:link, nav>a:visited {
		padding: 0 1em;
	}
	h1{
		padding: .5em 0;
	}


	.header-left,
	.header-right,
  .header-center{
		width: 100%;
		text-align: center;
	}
	.hidden-desktop{
		display: block;
    top: -16px !important;
	}

  .header-center label{
		display: block;
    top: 53px !important;
	}
}
