html { 
  font: 14px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;    
  font-weight: 300;
}

ul
{
  list-style-type: none;
  display: flex;
  float: right;
  padding-right: 0px;
}

a { 
  text-decoration: none;
  color: inherit;
}

.lastRow {
  text-align: center;
  display: inline-block;
}

.selectors {
  margin-right: 10px;
}

.center{
  text-align: center;
}

#todo-list { 
  margin-bottom:30px; 
}

.content {
  background-color: #f5f5f5;
  padding-top:50px; 
  max-width: 500px;
  margin: auto;
  position: relative;
}

.header {
  color: #7ea4fc;
  font-size: 60px;
  font-weight: 100;
}

#searchContainer { 
  background-color: #fbfbfb;
  display: flex;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin-bottom: 5px;
}

.addtodo {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 1px solid #7ea4fc;
  outline: none;
  color: inherit;
  padding: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;  
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bababa;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bababa;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bababa;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bababa;
  font-style: italic;
}

.btn {
  color: #fff;
  margin-left: 3px;
  padding: 11px 7px;
  text-decoration: none;
  border: 1px solid #7ea4fc;
  border-radius: 3px;
  width: 150px;
  background-color: #7ea4fc;  
}

.btn:hover {
  color: #7ea4fc;
  text-decoration: none;
  border: 1px solid #7ea4fc;
  border-radius: 3px;
  background-color: transparent;
}

a.btnSmall {
  color: #fff;
  margin-left: 3px;
  padding: 4px 20px 4px 20px;  
  text-decoration: none;
  border: 1px solid #7ea4fc;
  border-radius: 3px;
  width: 150px;
  background-color: #7ea4fc;  
}

a.btnSmall:hover {
  color: #7ea4fc;
  margin-left: 3px;
  text-decoration: none;
  border: 1px solid #7ea4fc;
  border-radius: 3px;
  width: 150px;
  background-color: transparent;
}

.element {
  color: inherit;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: #fff;
}

.lastRow {
  background-color: #fbfbfb;
  width: 500px;
  margin: auto;
  position: relative;
}

.label {
  position: relative;
  top: -15px;
}

.labelNr {
  padding-top: 14px;
  float: left;
  padding-left: 10px;
  font-style: italic;;
}

.strike {
  text-decoration: line-through;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

a.ion-close-round.positioning {
  position: relative;
  top: 7px;
  float: right;
  padding-right: 15px;
  color: #bababa;
}

a.ion-close-round.positioning:hover {
  color: #7ea4fc;
}

.footer {
  font-weight: 100;
}

.toggle {
  text-align: center;
  width: 40px;
  height: auto;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

:focus {
  outline: 0;
}

.toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bababa" stroke-width="3"/></svg>');
}

.toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#7ea4fc" stroke-width="3"/><path fill="#7ea4fc" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}